.info-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;
    gap: 5rem;
    width: 100%;
}

.info-holder-1{
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
}

.info-holder-1-image{
    padding-right: 3rem;
   img{
        width: 500px;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
   }
}

.info-holder-1-text{
    h2{
        font-size: 2rem;
        color: #333;
        margin-bottom: 1rem;
    }

    p{
        font-size: 1.1rem;
        line-height: 1.5;
        color: #555;
    }
}

.info-holder-2{
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    overflow-x: hidden;
}

.info-holder-2-text{
    h2{
        font-size: 2rem;
        color: #333;
        margin-bottom: 1rem;
        overflow-x: hidden;
    }

    p{
        font-size: 1.1rem;
        line-height: 1.5;
        color: #555;
        overflow-x: hidden;
    }
}

.info-holder-2-image{
    padding-left: 2.5rem;
   img{
        width: 500px;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
        overflow-x: hidden;
   }
}

.info-holder-3{
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    overflow-x: hidden;
}

.info-holder-3-text{
    h2{
        font-size: 2rem;
        color: #333;
        margin-bottom: 1rem;
        overflow-x: hidden;
    }

    p{
        font-size: 1.1rem;
        line-height: 1.5;
        color: #555;
        overflow-x: hidden;
    }
}

.info-holder-3-image{
    padding-right: 3rem;
   img{
        width: 550px;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
        overflow-x: hidden;
   }
}