a{
    text-decoration: none;
    color: #000;
}

.Navbar{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 8rem;
}

.navlinks-div{
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: center;
}

.navlinks{
    font-size: larger;
    a{
        color: black;
    }
}

.navlinks:hover{
    a{
        color: #495D3A;
        transition-duration: 50ms; 
    }
}

.btn-touch{
    background-color: transparent;
    border-width: 1px; 
    border-color: #9CA3AF; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    border-radius: 0.5rem; 
}

.btn-touch:hover{
    background-color: #495D3A;
    color: white;
    transition-duration: 300ms; 
}