a{
    text-decoration: none;
    color: #000;
}

.Navbar{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; 
    background-color: #0B694A;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    background-color: white;
    border-radius: 0.5rem;
    width: 8rem;
}

.navlinks-div{
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: center;
}

.navlinks{
    font-size: 1.2rem;
    font-weight: bold;
}

.navlinks a {
    color: white;
    transition: opacity 0.2s ease-in-out;
}

.navlinks a:hover {
    opacity: 0.7;
}


.btn-touch {
    background-color: rgba(245, 245, 220, 0.1); /* Light transparent cream */
    border: 2px solid white; /* Cream border */
    padding: 0.8rem 1.5rem; /* More padding */
    border-radius: 0.75rem; /* More rounded */
    color: white; /* Text color */
    font-weight: bold;
    font-size: 1rem; /* Slightly bigger text */
    transition: all 0.3s ease-in-out; 
    backdrop-filter: blur(5px); /* Slight glass effect */
}

.btn-touch:hover {
    background-color: #F5F5DC; /* Cream on hover */
    color: #21392e; /* Dark green text */
    box-shadow: 0 4px 10px rgba(245, 245, 220, 0.3); /* Soft glow */
    transform: scale(1.05); /* Slight scale effect */
}
