.Hero-section{
    background-color: #f5f9fc;
    border-radius: 1.5rem; 
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    gap: 1.5rem; 
    min-height: 650px;
    
    @media (min-width: 768px) { 
      grid-template-columns: repeat(2, minmax(0, 1fr)); 
     }
}

.covid-19-risks{
    height: 90px;
    font-size: 3.2rem;
    line-height: 1; 
    font-weight: 700;
    font: bold; 
    color: #171a67;
}

.covid-19-text{
    color: #9CA3AF;
    margin-top: 1rem; 
    font-size: 1.25rem;
    line-height: 1.75rem; 
}

.hero-section-text{
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 1280px) { 
        padding-right: 10rem; 
    }
}

.hero-section-text-2{
    margin-top: 1rem; 
    text-align: center;
    margin-bottom: 2.5rem; 
    margin-top: 6rem; 
    margin-top: 1.5rem; 


    @media (min-width: 768px) { 
        text-align: left; 
        margin-top: 0; 
        margin-bottom: 0; 
    }
}

.hero-section-image{
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.see-button{
    background-color: #fe6b7e;
    padding-top: 1rem;
    padding-bottom: 1rem; 
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
    margin-top: 1rem; 
    border-radius: 0.5rem; 
    width: fit-content; 
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) { 
        margin-left: 0;
        margin-right: 0; 
    }

    button{
        background-color: transparent;
        border: none;
        color: white;
        font-weight: 700; 
    }
}

.see-button:hover{
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
    transition-duration: 200ms;
}